<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">Home</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ textNavbar.itemTitleNavbarAreaRecruting.itemTextNav}}
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/nuovo candidato">{{ textNavbar.itemTitleNavbarAreaRecruting.itemTextDropdown1 }}</a>
                <a class="dropdown-item" routerLink="/seleziona candidato">{{ textNavbar.itemTitleNavbarAreaRecruting.itemTextDropdown2 }}</a>
                <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaRecruting.itemTextDropdown3 }}</a>
              </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ textNavbar.itemTitleNavbarAreaCommercial.itemTextNav }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaCommercial.itemTextDropdown1 }}</a>
                <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaCommercial.itemTextDropdown2 }}</a>
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ textNavbar.itemTitleNavbarAreaCourses.itemTextNav }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaCourses.itemTextDropdown1 }}</a>
                  <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaCourses.itemTextDropdown2 }}</a>
              </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ textNavbar.itemTitleNavbarAreaTechnique.itemTextNav }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaTechnique.itemTextDropdown1 }}</a>
                    <a class="dropdown-item" href="#">{{ textNavbar.itemTitleNavbarAreaTechnique.itemTextDropdown2 }}</a>
                </div>
              </li>

        </ul>
      </div>

  </div>
</nav>